{% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
            <div class="post">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class="show-more-block">
					<div class="show-more-text">
						<p>{{ post.text|linebreaks }}</p>
					</div>
					<a href="javascript: void(0);" class="btn-small">
						<span class="show-more">
							Read more
						</span>
						<span class="show-less">
							Read less
						</span>
					</a>
				</div>
                <div class="date">
                    {{ post.published_date }}
                </div>
            </div>
        {% endfor %}
        <a class="btn-style" href='{% url "post_new" %}'>Создать пост</a>
    {% endblock content %}